@(
	message: String,
	spots: List[models.Spot]
)

@import helper._

@main("Flushit!") {

<!-- oui y a la dose de form, c'est crado :D -->
	
		<h2>@(message)</h2>
	    
		<div class="panel-group" id="accordion">
		@for(spot <- spots) {
			  <div class="panel panel-default">
			    <div>
			       <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(spot.id)">
			       
				       	@(spot.status) match {
						    case SpotStatus.UNKNOWN => { <div class="alert alert-info" style="margin-bottom: 0">}
						    case SpotStatus.AVAILABLE => { <div class="alert alert-success" style="margin-bottom: 0">}
						    case SpotStatus.TOXIC => { <div class="alert alert-warning" style="margin-bottom: 0">}
						    case SpotStatus.OCCUPIED => { <div class="alert alert-danger" style="margin-bottom: 0">}
						}

			         	@(spot.label) -> @(spot.status.label) 
			         	@if(spot.status!=SpotStatus.UNKNOWN) {
			         		à @(spot.lastUpdate.format("hh:mm"))
			         	}
			         	
			         	</div>
			     
			       </a>
			    </div>
			    <div id="collapse@(spot.id)" class="panel-collapse collapse out">
			      <div class="panel-body">
			        <form method="POST" action="/spot/@(spot.id)/update">
						<button name="@(SpotStatus.AVAILABLE)" class="btn btn-success btn-lg" type="submit">
							<span class="glyphicon glyphicon-ok-sign"></span> LIBRE
						</button>
						<button name="@(SpotStatus.OCCUPIED)" class="btn btn-danger btn-lg" type="submit">
							<span class="glyphicon glyphicon-minus-sign"></span> OCCUPE
						</button>
						<button name="@(SpotStatus.TOXIC)" class="btn btn-warning btn-lg" type="submit">
							<span class="glyphicon glyphicon-warning-sign"></span> TOXIC HOLOCAUST!
						</button>
					</form>
			      </div>
			    </div>
			  </div>
		}
		</div>
}
